.visual_matrix{
	width: 20%;
	height: auto;
	float: left;
    border-style: solid;
    padding-left: 15px;
    border-bottom-style: none;
    border-top-style: none;
}
.matrix_a,.matrix_b,.matrix_result{
	width: 100%;
    height: 250px;
    float: left;
}
input{
	width: 30%;
	float: left;
	height: 50px;
    font-size: 2.5em;
    font-family: -webkit-pictograph;
    text-align: center;
}
.div_matrix{
    border-style: solid;
    border-style: none;
    padding-left: 15px;
}
h1{
	text-align: center;
}
.subtitle{
	font-size: 1.5rem;
	text-align: center;
}
th{
    border-style: double;
}
td{
    border: white;
    border-style: double;
    background: black;
    color: white;
    text-align: center;
}
label{
	width: 100%;
	float: left;
	text-align: center;
	border-bottom-color: black;
	border-bottom-style: solid;
}
.disk{
	float: left;
    width: 100%;
    overflow-y: scroll;
    height: 200px;
}
.pages_table{
	width: 100%;
    float: left;
    height: 300px;
    overflow-y: scroll;
}
.info_memory{
	width: 25%;
	height: fit-content;
	float: left;
    border-style: solid;
}
.extra_div{
	width: 35%;
    float: left;
    height: max-content;
}
textarea{
    width: 100%;
    height: 230px;
    overflow-y: scroll;
}
.textbox{
    margin-top: 150px;
    border-top-color: black;
    border-top-style: double;
}
body{
	overflow: hidden;
}
.preloader{
    width: 100%;
    position: absolute;
    align-content: center;
    background: #262626;
    height: -webkit-fill-available;
}
.preloader img{
    margin-left: 35%;
    margin-top: 5%;
}
.execute img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-left: 65px;
}
table{
    width: 100%;
}
h2{
        font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}